@font-face {
  font-family: machina;
  src: url(./NeueMachina-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}

html,
body {

  height: 100%;
  width: 100%;


}

body {
  background-color: black;
}


#page1,
#page2,
#page3 {
  height: 100%;
  width: 100%;

}

h1 {
  color: rgb(0, 0, 0);
  font-size: 80px;
  font-family: machina;

}

.mark {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 2vw 0;
  transform: translateX(-100%);
}


.mark img {
  height: 100px;
}

#move {
  display: flex;
  align-items: center;
  background-color: white;

}