* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html,
body {
  padding: auto;
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}


#page1 ,#page2 ,#page3 {
    height: 100vh;
    width: 100%;
}

