/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  padding: auto;
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  display: flex;
  justify-content: baseline;
  margin-top: 7%;
}
