/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: auto;
  height: 100%;
  width: 100%;
}

/* body {
  background-color: black;
} */

#page1 {
  width: 100%;
  height: 100vh;
  background-color: rgb(80, 236, 236);
}

#page2 {
  width: 100%;
  height: 100vh;
  background-color: rgb(76, 145, 145);
  display: flex;
  align-items: center;
  justify-content: center;
}

#page3 {
  width: 100%;
  height: 100vh;
  background-color: rgb(4, 143, 143);
}
  
#page2 img {
  width: 100vh;
  height: 65vh;
  object-position: center;
}
